extends ../layout.pug

block content
  .content
    h2.mb-4 Goals and Savings
    a.btn.btn-success.mb-3(href="/goals/add") + Add New Goal

    table.table.table-bordered.table-striped
      thead
        tr
          th Goal Name
          th Target Amount (£)
          th Saved Amount (£)
          th Target Date
          th Progress (%)
          th Actions
      tbody
        if goals.length
          each goal in goals
            tr
              td #{goal.goal_name}
              td #{goal.target_amount}
              td #{goal.saved_amount}
              
              td #{goal.target_date}

              td #{((goal.saved_amount / goal.target_amount) * 100)}%
              td
                a.btn.btn-warning.btn-sm(href=`/goals/edit/${goal.goal_id}`) Edit
                form(action=`/goals/delete/${goal.goal_id}`, method="POST", style="display:inline;")
                  button.btn.btn-danger.btn-sm(type="submit") Delete
        else
          tr
            td(colspan="6") No goals added yet.

  .floating-button
    a(href="/goals/add", title="Add Goal") +
